.top {
    width: 100%;
    height: 85px;
    background-color: white;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    font-family: "Josefin Sans", sans-serif;
    z-index: 999;
  }
  
  .topLeft,
  .topRight {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .topCenter {
    flex: 6;
  }
  
  .topIcon {
    font-size: 20px;
    margin-right: 10px;
    color: #444;
    cursor: pointer;
  }
  
  .topImg {
    object-fit: cover;
    cursor: pointer;
  }
  .topImge {
    object-fit: cover;
    cursor: pointer;
    width: 90px;
    height: 90px;
    background-color: #FCF6F4;
    border-radius: 65%;
    position: fixed;
    top: 1%;
    left: 30%;
    z-index:3;
  }
 

  .topImge:hover{
      background-color: rgba(0,255,0,0.4);
      box-shadow: 0 0 8px 6px rgba(0,255,0,0.2);
  }

  .topImge>*:first-child{
      text-decoration: none;
      color: inherit;
  }
  .topList {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .topListItem {
    margin-right: 20px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
  }
  
  .topSearchIcon {
    font-size: 18px;
    color: #666;
    cursor: pointer;
    margin-left: 15px;
  }
  
  .link {
    color: unset;
    text-decoration: none;
  }
  